body {
  line-height: 1.6;
  color: #fff;
  background: #1f603f;
  font-size: 18px;
  font-weight: 400;
  font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.stop {
  overflow: hidden;
}

#page {
  position: relative;
  transition: 1s all ease-in-out;
}
#page.menuopen {
  opacity: 0.6;
  filter: blur(20px);
  transform: scale(1.2);
}

section {
  display: flex;
  min-height: 100vh;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #fff;
  position: relative;
}
section:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  z-index: 0;
}
section h1 {
  font-size: 120px;
  margin: 0;
  z-index: 2;
  position: relative;
}

header {
  z-index: 99999;
  position: relative;
}
header #logo {
  position: fixed;
  top: -20px;
  left: 0;
  right: 0;
  width: 100px;
  height: auto;
  margin: 0 auto;
  opacity: 1;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
header nav {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  top: 120px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
  z-index: 9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: block;
  padding: 10px 20px;
  line-height: 1;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
header nav button {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 99;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transform: scale(0);
}
header nav button span {
  width: 40%;
  background: #fff;
  height: 2px;
  display: block;
  margin: 5px auto;
  transform: scalex(0);
  transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s margin ease-in 0s;
}
header nav button:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
header nav button:hover span {
  margin: 10px auto;
}

header.sticky #logo {
  top: 0;
  transform: scale(0.8);
  opacity: 0;
  transition-delay: 0.5s;
}
header.sticky nav {
  top: 20px;
  padding: 0;
  width: 70px;
  height: 70px;
  transition-delay: 0.5s;
}
header.sticky nav button {
  transform: scale(1);
  transition-delay: 0.6s;
}
header.sticky nav button span {
  transform: scalex(1);
  transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s, 0.3s margin ease-in 0s;
}
header.sticky nav a {
  padding: 0;
  opacity: 0;
  letter-spacing: 0px;
  transform: scale(0.3);
  transition-delay: 0.2s;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.footer {
  max-width: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
}

div {
  display: block;
}

.footer-flex {
  z-index: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.footer-bottom {
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  position: relative;
}

.footer-col {
  min-width: 240px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 112px;
  display: flex;
}

.footer-col-2 {
  width: 222px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 72px;
  display: flex;
}

.footer-col-2.last {
  margin-right: 0;
}

img {
  max-width: 100%;
  display: inline-block;
  position: static;
}

.footer-tagline {
  color: rgba(255,255,255,.72);
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 24px;
}

.button-primary {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  color: #fff;
  background-color: rgba(255,255,255,.08);
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 32px;
  align-items: center;
  padding: 6px 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: border-color .2s;
  display: flex;
}

.footer-link {
  color: #a9a9a9;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: color .2s;
}

.footer-heading {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.footer-year {
  opacity: .8;
  color: #a9a9a9;
  margin-top: 16px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.footer-socials-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.social-icon {
    width: 24px;
    height: 24px;
}

.vision-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started-button {
  margin-top: 40px;
  z-index: 2;
}

.button-container {
  display: inline-block; /* Ajusta la visualización del contenedor del botón */
  z-index: 2;
}

.get-started-button a {
  display: block; /* Ajusta el enlace para que ocupe todo el ancho del contenedor */
  padding: 10px 20px;
  background-color: #fff;
  color: #1f603f;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  z-index: 2;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.get-started-button a:hover {
  background-color: #1f603f;
  color: #fff;
}

#journey {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  max-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
  background-color: rgb(96, 216, 172);
  z-index: 2;
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}

#journey div{
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 65vh;
  padding-block: min(20vh, 3rem);
}

#journey div a {
  font-weight: 500;
  margin: 0;
  z-index: 2;
  position: relative;
}

#journey div span {
  font-size: 1rem;
  letter-spacing: 1.5px;
  margin: 0;
  z-index: 2;
  position: relative;
}

#journey div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #ffffff;
}

#journey div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #09c28e;
  background-image: linear-gradient(45deg, #3ae2ad, #426657);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#journey div hr {
  display: block;
  background: #00aa88;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

#journey div hr {
  margin: 0;
  z-index: 2;
  position: relative;
}

#journey div p {
  line-height: 1.6;
}

#journey div p {
  line-height: 1.6;
  margin: 15px 0;
  z-index: 2;
  position: relative;
  max-width: 500px;
}

#journey a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  background: rgba(255,255,255,.08);
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

#journey div a {
  border: 2px solid #c2c2c2;
  margin-top: 10px;
  padding: 0.625rem 1.875rem;
}

#journey div a:hover {
  border: 0.125rem solid #00aa77;
  color: #00aa6f;
}

#journey .swiper{
  width: 100%;
  max-height: 700px;
  padding-top: 50px;
}

#journey .swiper-pagination-bullet,
#journey .swiper-pagination-bullet-active {
  background: #fff;
}

#journey .swiper-pagination {
  bottom: 4.25rem !important;
}

#journey .swiper-slide {
  width: 10.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

#journey .swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

#journey .swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#journey .swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

#journey .swiper-slide-active div {
  display: block;
  opacity: 1;
}

#journey .swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://imgur.com/D1sYiJ8.jpg") no-repeat 50% 50%/cover;
}

#journey .swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://imgur.com/k2zQbFl.jpg") no-repeat 50% 50%/cover;
}

#journey .swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://imgur.com/LXluJT9.jpg") no-repeat 50% 50%/cover;
}

#journey .swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://imgur.com/HKrzeVT.jpg") no-repeat 50% 50%/cover;
}

#journey .swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://imgur.com/zYJuPfx.jpg") no-repeat 50% 50%/cover;
}

#journey .swiper-3d .swiper-slide-shadow-left,
#journey .swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  #journey {
    display: flex;
    align-items: center;
  }

  .bg,
.bg2 {
    opacity: 0.1;
  }
}
@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}